# .ebextensions/launchtemplate.config
Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      LaunchTemplate:
        LaunchTemplateSpecification:
          LaunchTemplateId:
            Ref: AWSEBLaunchTemplate
          Version:
            Fn::GetAtt:
              - AWSEBLaunchTemplate
              - LatestVersionNumber
