# .ebextensions/launchtemplate.config
Resources:
  AWSEBLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        InstanceType: t2.micro
        MetadataOptions:
          HttpTokens: required
        BlockDeviceMappings:
          - DeviceName: /dev/xvda
            Ebs:
              VolumeType: gp3
              DeleteOnTermination: true
              Encrypted: true
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      MinSize: '1'
      MaxSize: '1'
      DesiredCapacity: '1'
      LaunchTemplate:
        LaunchTemplateName:
          Ref: AWSEBLaunchTemplate
        Version:
          Fn::GetAtt:
            - AWSEBLaunchTemplate
            - LatestVersionNumber
